:root {
	--Strong-Cyan: hsl(171, 66%, 44%);
	--Light-Blue: hsl(233, 100%, 69%);
	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}


body {
	background-color: black;
}

main {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.page-area {
	max-width: 500px;
	height: fit-content;
	background-color: white;
}

.background-header {

	height: 100px;
}


.C-icon {
	display: flex;
	justify-content: center;

}

.logo {
	margin: -30px auto 0px;
}

.title-area {
	margin-top: 55px;
}

h2 {
	text-align: center;
}

.text1 {
	text-align: center;
}

.download-btns {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.download-bt1-area {
	background-color: var(--Strong-Cyan);
	border-radius: 10px;
	margin-right: 15px;
	height: 30px;
	display: flex;
	align-items: center;
}

.download-bt2-area {
	background-color: var(--Light-Blue);
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 30px;
}

.download-ios {
	color: white;
	padding: 10px;
	font-size: 12px;

}

.download-mac {
	color: white;
	padding: 10px;
	font-size: 12px;
}