:root {
	--Strong-Cyan: hsl(171, 66%, 44%);
	--Light-Blue: hsl(233, 100%, 69%);
	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}


body {
	background-color: black;
}

main {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.page-area {
	max-width: 500px;
	height: fit-content;
	background-color: white;
}

.background-header {
	height: 100px;
}


.C-icon {
	display: flex;
	justify-content: center;

}

.logo {
	margin: -30px auto 0px;
}

.title-area {
	margin-top: 55px;
}

h2 {
	text-align: center;
}

.text1 {
	text-align: center;
	font-size: 12px;
	color: var(--Grayish-Blue);
	max-width: 360px;
	margin: auto;
}

.download-btns {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.download-bt1-area {
	background-color: var(--Strong-Cyan);
	border-radius: 10px;
	margin-right: 15px;
	height: 30px;
	display: flex;
	align-items: center;
}

.download-bt2-area {
	background-color: var(--Light-Blue);
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 30px;
}

.download-bt1-area:hover,
.download-bt2-area:hover {
	opacity: 0.7;
}

.download-ios {
	color: white;
	padding: 10px;
	font-size: 12px;

}

.download-mac {
	color: white;
	padding: 10px;
	font-size: 12px;
}

.text2-area {
	margin: 70px auto 0px;
}

.text2-title {
	color: black;
	text-align: center;
}

.text2 {
	color: var(--Grayish-Blue);
	font-size: 12px;
	text-align: center;
	max-width: 420px;
	margin: 20px auto;
}

.computer-img-area {
	display: flex;
}

.computer-img {
	width: 250px;
	height: 200px;
}


.content2-area {
	margin-left: 10%;
}

.text3-title,
.text4-title,
.text5-title {
	font-size: 13px;

}

.text4-area,
.text5-area {
	margin-top: 20px;
}


.text3,
.text4,
.text5 {
	font-size: 10px;
	color: var(--Grayish-Blue);
	max-width: 190px;
	margin-top: 7px;
}

.text4-title,
.text5-title {
	margin-top: 10px;
}

.text6-area {
	margin: 40px auto 0px;
}

.text6-title {
	text-align: center;
	margin: auto;
}

.text6 {
	color: var(--Grayish-Blue);
	margin: 10px auto 0px;
	text-align: center;
}

.devices-area {
	display: flex;
	justify-content: center;
}

.devices {
	margin: 70px auto 0px;
	width: 300px;
	height: 200px;
}

.text7-area {
	margin: 70px auto 0px;
}

.text7-title {
	font-family: regular;
	color: black;
	margin: auto;
	text-align: center;
}

.text7 {
	font-family: light;
	color: var(--Grayish-Blue);
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}

.logo-area1 {
	display: flex;
	justify-content: center;
	margin-top: 70px;
	margin-left: 100px;
}

.logo1,
.logo2,
.logo3 {
	margin-right: 100px;
}

.logo-area1-text {
	display: flex;
	margin: 10px 0px 50px 66px;
}

.logo1-title,
.logo2-title,
.logo3-title {
	text-align: center;
	font-size: 12px;
	max-width: 100px;
	margin-right: 35px;
}

.logo1-text,
.logo2-text,
.logo3-text {
	font-size: 7px;
	color: var;
	color: var(--Grayish-Blue);
	margin-top: 5px;
}

.logo1-title {
	margin-left: -10px;
	margin-right: 42px;
}

.logo2-title {
	margin-right: 45px;
}

.global-logos {
	display: flex;
	justify-content: center;
	margin-right: 10px;
}

.google,
.IBM,
.vector,
.microsoft,
.hp {
	width: 60px;
	height: 30px;
	margin: 50px 5px 50px 30px;
}

.text8-area {
	margin: 30px auto 0px;
}

.text8-title {
	color: black;
	font-family: regular;
	text-align: center;
}

.text8 {
	text-align: center;
	margin: 10px auto 0px;
	max-width: 415px;
	font-size: 12px;
	color: var(--Grayish-Blue);
}

footer {
	margin-top: 70px;
	height: 70px;
	background-color: lightgray;
	display: flex;
	align-items: center;
}


.icon-footer {
	width: 30px;
	height: 30px;
	margin-left: 40px;
}

.Help {
	margin-left: 20px;
}

.Faqs,
.Contact-Us,
.Privacy-Policy,
.Install-Guide,
.Press-Kit {
	color: var(--Dark-Grayish-Blue);
	font-family: light;
	font-size: 10px;
	margin-left: 20px;
}

.Contact-Us,
.Press-Kit {
	margin-top: 5px;
}

.Install-Guide {
	margin-bottom: 15px;
}

.social-icons {
	margin-left: 14%;
}

.facebook,
.instgram,
.twitter {
	margin-left: 7px;
	width: 15px;
	height: 15px;
}


@media(max-width:520px) {

	.page-area {
		max-width: 300px;
	}

	.download-btns {
		display: flex;
		flex-wrap: wrap;
	}

	.download-bt2-area,
	.download-bt1-area {
		width: 200px;
		margin-top: 15px;
		height: 35px;
	}

	.download-bt1-area {
		margin-left: 15px;
	}

	.download-ios,
	.download-mac {
		margin: auto;
		font-size: 15px;
	}

	.computer-img-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
	}

	.content2-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
		margin-right: 25px;
	}

	.text1 {
		max-width: 205px;
	}

	.title-area {
		max-width: 220px;
		margin: 70px auto 0px;
	}

	.text3-title,
	.text4-title,
	.text5-title {
		text-align: center;
	}


	.text3,
	.text4,
	.text5 {
		text-align: center;
	}

	.text7 {
		max-width: 180px;
		margin: 10px auto;
	}

	.text2-title {
		max-width: 170px;
		margin: auto;
	}

	.text2 {
		max-width: 200px;
		margin: 10px auto;
	}
}